main {
    background-color: #ebebeb;
    width: 100%;
    font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
}


.second-container-home {
    padding-top: 380px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

.info-pay {
    /* max-width: 980px; */
    max-width: 1090px;
    height: 90px;
    margin: 0 auto;
    background-color: #fff;
    display: flex;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
}

.info-pay-item {
    display: flex;
    width: calc(100% / 4);
    align-items: center;
    line-height: 0px;
}

.info-pay-item span {
    border: 1px solid #d7d7d7;
    border-radius: 100%;
    color: #5697fa;
    font-size: 1.6rem;
    padding: 12px;
    margin: 0 15px;
    cursor: pointer;
}

.info-pay-item p:nth-child(1) {
    color: #000;
    line-height: 8px;
    font-weight: 500;
    font-size: 16px;
    text-align: left;
}

.info-pay-item p:nth-child(2) {
    color: #2a70d9;
    font-size: 13px;
    text-align: left;
    font-weight: 500;
}

.info-pay-item p:nth-child(2):hover {
    color: #1259c3;
    cursor: pointer;
}


.offers-container-home {
    max-width: 1090px;
    margin: 0 auto;
    padding-top: 20px;
    position: relative; 
}

.offers-container-home > div {
    display: flex;
    align-items: center;
}

.offers-container-home > div:nth-child(0) {
    display: flex;
    align-items: center;
}

.offers-container-home > div > h2 {
    font-weight: 300;
    color: #666;
    font-size: 1.8rem;
    padding-left: 5px;
}

.offers-container-home > div > p {
    color: #2a70d9;
    padding-left: 15px;
    padding-top: 10px;
    font-size: 17px;
    cursor: pointer;
}

.offers-container-home > div > p:hover {
    color: #1259c3;
}

.offers-container-cards {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-top: -8px;
    position: relative;
}

.offers-card-home {
    width: 224px;
    height: 335px;
    margin: 0 5px;
    background-color: #fff;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.2) 0px 1px 1px -1px;
}

.offers-card-home > img {
    width: 224px;
    height: 220px;
    border-bottom: 0.9px solid #cecece;
}

.card-text-pricing-off {
    font-size: 1.4rem;
    padding-left: 0.8rem;
    margin-top: 10px;
}

.card-text-off {
    font-size: 0.9rem;
    padding-left: 0.3rem;
    color: #00a650;
}


.btn-next-offers {
    display: none;
    top: 50%;
    margin-right: -30px;
}

.offers-container-cards:hover ~ .btn-next-offers {
    display: block;
    width: 70px;
    height: 70px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    right: 0px;
    cursor: pointer;
    border: none;
    font-size: 1.6rem;
}

.offers-container-cards:hover ~ .btn-next-offers{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.19);
}

/* .offers-container-cards:hover ~ .btn-next-offers:hover{
    box-shadow: 0 7px 16px 0 rgba(0,0,0,.2),0 1px 3px 0 rgba(0,0,0,.1);
} */


.suscription-level-container-home {
    max-width: 1090px;
    margin: 0 auto;
    position: relative;
    border-radius: 6px;
    background-color: #fff;
    margin-top: 70px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.2) 0px 1px 1px -1px;
}

.header-suscription-level {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg,#a90f90 55%,#0c1a51);
    width: 100%;
    height: 100%;
    color: #fff;
    border-radius: 6px 6px 0 0px;
    padding: 0 30px;
}

.header-suscription-level h3 {
    font-size: 25px;
}

.header-pricing-suscription {
    line-height: 0;
    padding-top: 9px;
    padding-left: 7px;
    border-left: 2px solid #fff;
    height: 45px;
}

.header-pricing-suscription h4 {
    font-weight: 600;
    font-size: 21px;
    margin: 22px 0;
}

.content-container-suscription {
    padding: 5px 30px 10px 30px;
}

.content-suscription {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.content-suscription > div {
    width: 350px;
    padding-bottom: 10px;
}

.content-suscription > div > span {
    border-radius: 100%;
    padding: 12px;
    margin: 0 15px;
    cursor: pointer;
    border: 1px solid #ededed;
}

.btn-suscription {
    border: none;
    background-color: #3179e5;
    color: #fff;
    padding: 15px 20px;
    border-radius: 7px;
    font-size: 16px;
    font-weight: 600;
    margin: 20px 30px;
    cursor: pointer;
}

.btn-suscription:hover {
    background-color: #2667ca;
}


.benefits-points-container-home {
    max-width: 1090px;
    margin: 0 auto;
    margin-top: 40px;
    position: relative; 
}

.benefits-points-container-home > div {
    display: flex;
    align-items: center;
    margin-bottom: -5px;
}

.benefits-points-container-home > div:nth-child(0) {
    display: flex;
    align-items: center;
}

.benefits-points-container-home > div > h2 {
    font-weight: 300;
    color: #666;
    font-size: 1.8rem;
    padding-left: 5px;
}

.benefits-points-container-home > div > p {
    color: #2a70d9;
    padding-left: 20px;
    padding-top: 10px;
    font-size: 17px;
    cursor: pointer;
}

.benefits-points-container-home > div > p:hover {
    color: #1259c3;
}

/* .container-cards-benefits {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
} */

.card-benefit {
    width: 375px;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 5px;
    display: flex;
    cursor: pointer;
}

.photo-brand-card {
    position: absolute; 
    bottom: 15px;
    margin-left: 15px;
    border-radius: 7px;
}

.content-card-benefit {
    position: absolute; 
    bottom: 10px;
    margin-left: 105px;
    line-height: 0;
    color: #fff;
}


@media (max-width: 1055px) {
    .info-pay-item {
        width: calc(100% / 3);
    }

    .info-pay-item:nth-child(2) {
        padding-right: 15px;
    }
    
    .info-pay-item:nth-child(3) {
        display: none;
    }

    .btn-next-offers {
        display: none;
        top: 50%;
        margin-right: 0px;
    }

    .second-container-home {
        padding-left: 15px;
        padding-right: 15px;
    }

    .offers-container-home {
        padding-left: 10px;
        padding-right: 15px;
    }

    .offers-container-home > div > h2 {
        padding-left: 5px;
    }

    .suscription-level-container-home {
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media (max-width: 1020px) {
    .second-container-home {
        padding-left: 15px;
        padding-right: 15px;
    }

    .offers-container-home {
        padding-left: 7px;
        padding-right: 10px;
    }

    .offers-container-home > div > h2 {
        padding-left: 4px;
    }

    .suscription-level-container-home {
        margin-left: 12px;
        margin-right: 15px;
    }

    .benefits-points-container-home {
        overflow-x: scroll;
        overflow-y: hidden;
        margin: 10px 10px;
    }

    .container-cards-benefits {
        width: 1000px;
    }
}

@media (max-width: 900px) {
    .second-container-home {
        padding-top: 305px;
        padding-left: 10px;
        padding-right: 9px;
    }

    .suscription-level-container-home {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media (max-width: 787px) {
    .info-pay-item:nth-child(2) {
        display: none;
    }

    .info-pay-item {
        width: calc(100% / 2);
    }
}

@media (max-width: 600px) {
    .second-container-home {
        padding-top: 230px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .offers-container-home {
        padding-left: 15px;
        padding-right: 20px;
    }

    .suscription-level-container-home {
        margin-left: 15px;
        margin-right: 20px;
    }

    .content-suscription{
        display: block;
    }

    .content-suscription > div{
        padding: 10px 0;
    }

    .content-suscription > div > p{
        padding-right: 45px;
    }

    .benefits-points-container-home {
        margin: 10px 15px;
    }
}

@media (max-width: 555px) {
    .info-pay-item p:nth-child(1) {
        line-height: 17px; 
    }
}

@media (max-width: 445px) {
    .header-pricing-suscription  {
        margin-top: -10px;
        margin-left: 80px;
    }

    .header-pricing-suscription h4 {
        line-height: 15px;
        margin-top: 13px;
    }
}
