main {
    background-color: #ebebeb;
    width: 100%;
    font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
}


.second-container-home {
    padding-top: 380px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

.info-pay {
    /* max-width: 980px; */
    max-width: 1180px;
    height: 90px;
    margin: 0 auto;
    background-color: #fff;
    display: flex;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
}

.info-pay-item {
    display: flex;
    width: calc(100% / 4);
    align-items: center;
    line-height: 0px;
}

.info-pay-item span {
    border: 1px solid #d7d7d7;
    border-radius: 100%;
    color: #5697fa;
    font-size: 1.6rem;
    padding: 12px;
    margin: 0 15px;
    cursor: pointer;
}

.info-pay-item p:nth-child(1) {
    color: #000;
    line-height: 9px;
    font-weight: 500;
    font-size: 19px;
    text-align: left;
}

.info-pay-item p:nth-child(2) {
    color: #1259c3;
    font-size: 13px;
    text-align: left;
}

.info-pay-item p:nth-child(2):hover {
    color: #083c88;
    cursor: pointer;
}


.third-container-home > div:nth-child(0) {
    display: flex;
    align-items: center;
}

.third-container-home > div > h1 {
    font-weight: 400;
}

.third-container-home > div > p {
    color: #1259c3;
    padding-left: 17px;
    padding-top: 7px;
    font-size: 17px;
}


@media (max-width: 1205px) {
    .third-container-home {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 1055px) {
    .info-pay-item {
        width: calc(100% / 3);
    }

    .info-pay-item:nth-child(2) {
        padding-right: 15px;
    }
    
    .info-pay-item:nth-child(3) {
        display: none;
    }
}

@media (max-width: 1020px) {
    .second-container-home {
        padding-left: 15px;
        padding-right: 15px;
    }

    .third-container-home {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 900px) {
    .second-container-home {
        padding-top: 305px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 787px) {
    .info-pay-item:nth-child(2) {
        display: none;
    }

    .info-pay-item {
        width: calc(100% / 2);
    }
}

@media (max-width: 600px) {
    .second-container-home {
        padding-top: 230px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .third-container-home {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 555px) {
    .info-pay-item p:nth-child(1) {
        line-height: 15px; 
    }
}


.third-container-home {
    max-width: 1180px;
    margin: 0 auto;
    padding-top: 40px;
}
