.general-container-productId {
    width: 100%;
    background-color: #ebebeb;
    margin: 0;
}

.product-container {
    max-width: 1090px;
    margin: 0 auto;
}

.product-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    padding-top: 35px;
}

.product-header > p {
    font-weight: 500;
    cursor: pointer;
}

.product-header > p:hover {
    color: #2a70d9;
}

.share-and-seller {
    display: flex;
}

.share-and-seller > p {
    padding-left: 15px;
    font-weight: 500;
    color: #2a70d9;
    cursor: pointer;
}

.share-and-seller > p:hover {
    color: #1259c3;
}

.product-content {
    background-color: #fff;
    display: flex;
    padding: 15px;
}

.product-data {
    display: block;
    margin: 0 auto;
}

.seller-post {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 45px;
    width: 700px;
    margin-left: 10px;
    margin-right: 20px;
}

.product-image {
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

