.general-container-productId {
    width: 100%;
    background-color: #ebebeb;
    margin: 0;
}

.product-container {
    max-width: 1090px;
    margin: 0 auto;
}

.product-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    padding-top: 35px;
}

.product-header > p {
    font-weight: 500;
    cursor: pointer;
}

.product-header > p:hover {
    color: #2a70d9;
}

.share-and-seller {
    display: flex;
}

.share-and-seller > p {
    padding-left: 15px;
    font-weight: 500;
    color: #2a70d9;
    cursor: pointer;
}

.share-and-seller > p:hover {
    color: #1259c3;
}

.product-content {
    background-color: #fff;
    display: flex;
    padding: 15px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.product-data {
    display: block;
    margin: 0 auto;
}

.product-image {
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.description-product {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 45px;
    padding-top: 25px;
    width: 700px;
    margin-left: 10px;
    margin-right: 20px;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.description-product p {
    padding-right: 15px;
}


.questions-container {
    padding: 25px 15px;
}

.btn-general-questions {
    padding: 8px 15px;
    margin: 0 5px;
    border: none;
    background-color: rgba(65,137,230,.15);
    color: #3483fa;
    font-weight: 800;
    font-size: 13px;
    border-radius: 6px;
    cursor: pointer;
}

.questions-container > h4 {
    margin-top: 40px;
}

.question-box {
    display: flex;
}

.question-box input {
    width: 77%;
    padding: 15px;
    border-radius: 7px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: #666;
    font-size: 15px;
}

.question-box button {
    padding: 0 30px;
    border: none;
    background-color: #3483fa;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    margin-left: 15px;
}

.without-questions {
    text-align: center;
    line-height: 7px;
    margin: 50px 0;
}

.without-questions p:nth-child(1) {
    font-weight: 600;
    color: #666;
    font-size: 15px;
}

.without-questions p:nth-child(2) {
    font-weight: 400;
    color: #666;
    font-size: 13px;
}


.post-report {
    display: flex;
    justify-content: flex-end;
}

.post-report p {
    font-size: 14px;
}

.post-report > p > span {
    font-size: 15px;
    font-weight: 600;
    padding-right: 10px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.post-report p:nth-child(2) {
    font-size: 14px;
    padding-left: 10px;
    color: #2a70d9;
    cursor: pointer;
}
