a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #000;
    text-decoration: none;
}

.general-container-search-page {
    width: 100%;
    display: block;
    background-color: #ebebeb;
    padding-bottom: 30px;
}

.container-sidebar-and-search {
    max-width: 1090px;
    margin: 0 auto;
    display: flex;
}

.container-sidebar {
    width: 300px;
    background-color: #ebebeb;
}

.container-search-page {
    width: 790px;
    background-color: #fff;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.one-product-list {
    display: flex;
    padding: 20px 35px;
    border-bottom: 1px solid #ededed;
}

.photo-product {
    width: 135px;
    height: 135px;
}

.header-search-page{
    display: flex;
    max-width: 1090px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0 0 0;
}

.header-search-page-mobile {
    display: none;
}

.title-one-product {
    font-weight: 300; 
    font-size: 1.3rem; 
    margin-top: 3px;
}

.price-one-product {
    font-weight: 500; 
    font-size: 1.6rem;
    margin-top: 15px; 
    color: #000;
}

.raiting-and-price {
    display: flex; 
    align-items: center;
    line-height: 5px;
    justify-content: space-between;
    width: 350px;
    margin-top: -10px;
}

.raiting {
    padding-top: 13px;
}

.available-product {
    font-weight: 300; 
    font-size: '0.7rem';
    margin-top: 13px; 
    color: #000;
}

.free-send {
    font-weight: 600;
    font-size: 0.9rem;
    margin-top: 0px;
    color: #00a650;
}


@media (max-width: 1110px) {
    .container-sidebar-and-search {
        max-width: 1020px;
        margin: 0 auto;
    }

    .container-sidebar {
        margin-left: 20px;
    }

    .container-search-page {
        margin-right: 20px;
    }

    .header-search-page{
        max-width: 1020px;
        margin: 0 20px;
    }
}

@media (max-width: 890px) {
    .container-sidebar {
        display: none;
    }

    .container-search-page {
        margin: 0 auto;
    }
}

@media (max-width: 600px) {
    .one-product-list {
        padding: 11px 10px;
    }

    .photo-product {
        width: 90px;
        height: 90px;
    }

    .title-one-product {
        font-size: 1rem; 
    }

    .price-one-product {
        font-size: 1.3rem;
        margin-top: 10px;
    }

    .raiting-and-price {
        width: 250px;
    }

    .raiting {
        padding-top: 0;
    }

    .free-send {
        margin-top: 4px;
    }

    .header-search-page {
        display: none;
    }

    .header-search-page-mobile {
        display: flex;
        align-items: center;
        padding: 0px 10px;
        background-color: #fff;
        border-bottom: 1px solid #cecece;
        margin-bottom: 2px;
        padding-left: 20px;
    }

    .switch-filter-search {
        background-color: #ebebee;
        width: 40px;
        height: 20px;
        border-radius: 100px;
        cursor: pointer;
        margin-left: 10px;
    }

    .switch-filter-search > div {
        background-color: #fff;
        width: 20px;
        height: 95%;
        border-radius: 100px;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    }
}