.container-footer {
    width: 100%;
    margin: 0px;
}

.more-info-btn-container {
    background-color: #ebebee;
    display: flex;
    justify-content: center;
    padding-top: 60px;
    margin: -15px;
}

.btn-more-info {
    padding: 0 20px;
    background-color: #fff;
    border: none;
    display: flex;
    align-items: center;
    font-weight: 600;
    border-radius: 5px 5px 0 0px;
    cursor: pointer;
    margin: 0;
}

.btn-more-info span {
    margin-top: 5px;
    padding: 0 5px;
}

.container-footer {
    padding: 0 15px;
}

.mock-links {
    display: flex;
}

.mock-links p {
    padding-right: 15px;
    padding-top: 20px;
    font-size: 14px;
    cursor: pointer;
}

.copyright {
    line-height: 10px;
    font-size: 12px;
    font-weight: 300;
    margin-top: -15px;
}

.container-imgs {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.container-imgs img {
    margin-right: 20px;
    margin: 15px;
}


@media(max-width: 610px) {
    .mock-links {
        display: none;
    }

    .copyright {
        padding-top: 25px;
    }

    .container-imgs {
        display: flex;
        width: 100%;
    }

    .container-imgs img {
        width: 120px;
        height: 30px;
    }
}