.container-slider {
    width: 100vw;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
    position: absolute;
}

.slide {
    max-width: 1600px;
    height: 340px;
}

.btn-slider{
    border: none;
    font-size: 1.6rem;
    cursor: pointer;
    background-color: transparent; 
    padding: 0 10px;
}


.container-dots {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.dot { /* PUNTO */
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 1px solid #f1f1f1;
    margin: 0 3px;
    background: rgba(32, 32, 32, 0.29); 
}
.dot.active {
    width: 7px;
    height: 7px;
    border: 1px solid rgba(0, 0, 0, 0.499);
    background: #f1f1f1;
}


@media (max-width: 1690px) {
    .slide {
        max-width: 1300px;
    }
}

@media (max-width: 1385px) {
    .slide {
        max-width: 100%;
    }

    .btn-slider {
        display: none;
    }
}

@media (max-width: 900px) {
    .slide {
        max-width: 100%;
        height: 280px;
    }
}

@media (max-width: 600px) {
    .slide {
        max-width: 100%;
        height: 200px;
    }
}